


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 1rem auto;
  max-width: 75%;
}

.card {
  width: auto;
  background-color: #6c757d;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #343a40;
  color: #ffffff;
  text-align: center;
  padding: 1.5rem;
}

.card-body {
  padding: 2rem;
}

/* Estilos para los campos del formulario */
.form-control {
  width: 100%;
  padding: 1.25rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  font-size: 1rem;
}

/* Estilos para los mensajes de error */
span {
  color: #dc3545;
  font-size: 0.875rem;
  display: block;
  margin-top: 0.5rem;
}

/* Estilos para el texto centrado */
.text-center {
  text-align: center;
}

/* Estilos para los botones */
.btn {
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

.btn-secondary {
  background-color: #6c757d;
  color: #ffffff;
}

.btn-primary {
  background-color: #007bff;
  color: #ffffff;
}

.btn-primary:disabled {
  background-color: #b0c4de;
  cursor: not-allowed;
}

h2 {
  font-size: 2.5rem;
  color: #ffffff; /* Texto blanco para destacar en fondo azul */
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  /* Agregar sombra para destacar el texto en el fondo */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  /* Puedes ajustar según tus preferencias */
}

label[for="name"] {
  display: block;
  font-size: 1rem;
  color: #495057; /* Color oscuro para contrastar con el fondo gris */
  margin-bottom: 8px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  /* Añadir transición suave para efectos visuales */
  transition: color 0.3s ease-in-out;
}

/* Cambiar el color del label al pasar el mouse */
label[for="name"]:hover {
  color: #007bff; /* Color azul al pasar el mouse */
}


label[for="description"] {
  display: block;
  font-size: 1rem;
  color: #495057; /* Color oscuro para contrastar con el fondo gris */
  margin-bottom: 8px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  /* Añadir transición suave para efectos visuales */
  transition: color 0.3s ease-in-out;
}

/* Cambiar el color del label al pasar el mouse */
label[for="description"]:hover {
  color: #007bff; /* Color azul al pasar el mouse */
}


label[for="price"] {
  display: block;
  font-size: 1rem;
  color: #495057; /* Color oscuro para contrastar con el fondo gris */
  margin-bottom: 8px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  /* Añadir transición suave para efectos visuales */
  transition: color 0.3s ease-in-out;
}

/* Cambiar el color del label al pasar el mouse */
label[for="price"]:hover {
  color: #007bff; /* Color azul al pasar el mouse */
}

label[for="photo"] {
  display: block;
  font-size: 1rem;
  color: #495057; /* Color oscuro para contrastar con el fondo gris */
  margin-bottom: 8px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  /* Añadir transición suave para efectos visuales */
  transition: color 0.3s ease-in-out;
}

/* Cambiar el color del label al pasar el mouse */
label[for="photo"]:hover {
  color: #007bff; /* Color azul al pasar el mouse */
}

