.example-form-field {
  width: 200px;
  margin-top: 20px;
}

.fit {
  max-width: 75%;
}

.producto {
  place-content: center;
  text-align: center;
  border: 1px solid #ddd;
  margin-bottom: 1.25rem;
  padding: 0.625rem;
  width: auto;
  box-sizing: border-box;
}

.producto h3 {
  color: #333;
  font-size: 20px;
}

.producto p {
  color: #666;
  font-size: 16px;
}

.producto img {
  width: 25%;
  transition: transform 0.2s;
}

.producto img:active {
  transform: scale(0.9);
}

.producto button {
  position: relative;
  overflow: hidden;
  width: 50%;
  -webkit-transition: background 400ms;
  transition: background 400ms;
  color: #fff;
  background-color: #6200ee;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  color: white;
  text-align: center;
  margin: 0.25rem 0.125rem;
  cursor: pointer;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

h3 {
  color: #333333;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  cursor: pointer;
  user-select: none;
}

h3:hover {
  animation: bounce 1s ease-in-out infinite;
}

.detalle {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9; /* Un fondo claro para destacar la sección de detalles */
  border-radius: 5px; /* Bordes redondeados para un aspecto suave */
}

.detalle p {
  color: #666; /* Un color de texto más suave para facilitar la lectura */
  line-height: 1.6; /* Espaciado de línea para mejorar la legibilidad */
}

.precio {
  font-weight: bold;
}

.ripple {
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
}
.ripple:hover {
  background: #6200ee radial-gradient(circle, transparent 1%, #6200ee 1%)
    center/15000%;
}
.ripple:active {
  background-color: #cfb2f9;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

@media (min-width: 978px) {
  .wrapper {
    display: grid;
    // grid-template-columns: repeat(auto-fit, 3, minmax(250px, 1fr));
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
  }

  .producto img {
    width: 50%;
  }
}
