<div
  class="surface-900 px-3 pt-3 sm:px-7 flex flex-wrap align-items-stretch justify-content-between relative"
>
  <div
    class="flex lg:flex-initial align-items-center justify-content-center py-3"
  >
    <img src="../../../../assets/logo.png" class="pr-3" height="60px" />
    <h1 class="lg:text-3xl pt-2">
      <a routerLink="/" class="text-200" style="text-decoration: none">
        {{ title }}
      </a>
    </h1>
  </div>
  <a
    pRipple
    pStyleClass="#nav-2"
    enterClass="hidden"
    leaveToClass="hidden"
    class="p-ripple p-element cursor-pointer mb-3 flex align-items-center lg:hidden text-200 mr-3"
    ><i class="pi pi-bars text-4xl"></i><span class="p-ink"></span
  ></a>
  <div
    id="nav-2"
    class="surface-900 hidden lg:flex absolute lg:static left-0 top-100 z-1 shadow-2 lg:shadow-none w-full lg:w-auto py-3"
  ></div>
</div>
