<div
  class="surface-900 px-3 pt-3 sm:px-7 flex flex-wrap align-items-stretch justify-content-between relative"
>
  <div
    class="flex lg:flex-initial align-items-center justify-content-center py-3"
  >
    <img src="../../../../assets/logo.png" class="pr-3" height="60px" />
    <h1 class="text-200 lg:text-3xl pt-2">
      {{ title }}
    </h1>
  </div>
  <a
    pRipple
    pStyleClass="#nav-2"
    enterClass="hidden"
    leaveToClass="hidden"
    class="p-ripple p-element cursor-pointer mb-3 flex align-items-center lg:hidden text-200 mr-3"
    ><i class="pi pi-bars text-4xl"></i><span class="p-ink"></span
  ></a>
  <div
    id="nav-2"
    class="surface-900 hidden lg:flex absolute lg:static left-0 top-100 z-1 shadow-2 lg:shadow-none w-full lg:w-auto py-3"
  ></div>
  <div class="lg:flex w-full lg:w-auto hidden py-3">
    <ul class="list-none p-0 m-0 flex w-full">
      <li class="flex flex-auto lg:flex-initial justify-content-center"></li>
      <li class="flex flex-auto lg:flex-initial justify-content-center">
        <a
          pRipple
          class="p-ripple p-element text-200 font-medium inline-flex align-items-center cursor-pointer lg:px-3 hover:text-primary"
          ><i class="pi pi-heart text-xl mb-4"></i
          ><span class="hidden">Favoritos</span><span class="p-ink"></span
        ></a>
      </li>
      <li class="flex flex-auto lg:flex-initial justify-content-center">
        <a
          pRipple
          pStyleClass="@next"
          enterClass="hidden"
          enterActiveClass="scalein"
          leaveToClass="hidden"
          leaveActiveClass="fadeout"
          class="p-ripple p-element text-200 font-medium inline-flex align-items-center cursor-pointer px-1 lg:px-3 hover:text-primary"
          ><i
            pbadge=""
            class="p-element pi pi-shopping-cart text-xl p-overlay-badge mb-4"
            ><span
              id="pr_id_9_badge"
              class="p-badge p-component p-badge-dot"
            ></span></i
          ><span class="hidden">Mi Carrito</span><span class="p-ink"></span
        ></a>
        <div
          class="border-round surface-900 p-4 shadow-2 absolute right-0 top-100 z-1 w-20rem origin-top hidden"
        >
          <span class="text-200 font-medium mb-3 block"
            >Mi Carrito (1 Item)</span
          >
          <div
            class="flex align-items-center border-bottom-1 surface-border pb-3"
          >
            <img
              src="https://blocks.primeng.org/assets/images/blocks/ecommerce/shoppingcart/shopping-cart-2-2.png"
              class="w-4rem flex-shrink-0 shadow-1"
            />
            <div class="flex flex-column pl-3">
              <span class="text-200 font-medium mb-2">Prime Watch</span
              ><span class="text-400 mb-2">Standard Size</span
              ><span class="text-primary font-bold">$50.00</span>
            </div>
          </div>
          <div class="flex pt-3">
            <button
              pbutton=""
              pripple=""
              class="p-element p-ripple p-button-outlined mr-2 p-button p-component"
            >
              Ver Carrito<span class="p-ink"></span></button
            ><button
              pbutton=""
              pripple=""
              class="p-element p-ripple ml-2 p-button p-component"
            >
              Comprar<span class="p-ink"></span>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div
  class="flex w-full lg:w-auto border-y-1 surface-border surface-900 lg:hidden py-3 lg:py-0"
>
  <ul class="list-none p-0 m-0 flex w-full" style="min-height: 30px">
    <li class="flex flex-auto lg:flex-initial justify-content-center">
      <a
        pRipple
        class="p-ripple p-element text-200 font-medium inline-flex align-items-center cursor-pointer lg:px-3 hover:text-primary"
        ><i class="pi pi-heart text-xl"></i><span class="hidden">Favoritos</span
        ><span class="p-ink"></span
      ></a>
    </li>
    <li class="flex flex-auto lg:flex-initial justify-content-center">
      <a
        pRipple
        class="p-ripple p-element text-200 font-medium inline-flex align-items-center cursor-pointer lg:pl-3 pr-1 hover:text-primary"
        ><i pbadge="" class="pi pi-shopping-cart text-xl"></i
        ><span class="hidden">Carrito</span><span class="p-ink"></span
      ></a>
    </li>
  </ul>
</div>
