<div class="surface-50 px-4 py-8 md:px-6 lg:px-8">
  <div class="mt-4 mx-auto" style="max-width: 38rem"></div>
  <p-divider layout="horizontal" class="p-element surface-border"></p-divider>
  <div
    class="grid grid-nogutter text-center lg:text-left lg:justify-content-center"
  >
    <div
      class="col-12 sm:col-6 md:col-4 lg:col-2 mt-4 flex flex-column align-items-center lg:align-items-start"
    >
      <img
        src="../../../../assets/logo.png"
        alt="Bazar logo"
        class="w-9rem mx-auto lg:mx-0"
      />
      <div
        class="flex align-items-center w-full mt-5 justify-content-center lg:justify-content-start"
      >
        <a tabindex="0" class="cursor-pointer mr-3"
          ><i
            class="pi pi-facebook surface-900 p-1 text-sm border-circle text-0"
          ></i></a
        ><a tabindex="0" class="cursor-pointer mr-3"
          ><i
            class="pi pi-twitter surface-900 p-1 text-sm border-circle text-0"
          ></i></a
        ><a tabindex="0" class="cursor-pointer mr-3"
          ><i
            class="pi pi-youtube surface-900 p-1 text-sm border-circle text-0"
          ></i></a
        ><a tabindex="0" class="cursor-pointer"
          ><i
            class="pi pi-google surface-900 p-1 text-sm border-circle text-0"
          ></i
        ></a>
      </div>
      <span class="text-600 block mt-4"></span>
      <a
        class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
        style="text-decoration: none"
        href="https://wa.me/5491165966587"
        target="_blank"
      >
        <i class="pi pi-phone mr-2"></i>+5491165966587
      </a>
      <a
        tabindex="0"
        class="text-600 block mt-4 cursor-pointer hover:text-900 transition-duration-150 select-none w-8rem"
        ><i class="pi pi-map-marker mr-2"></i>Contactanos</a
      >
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-2 mt-4 flex flex-column">
      <span class="text-900 text-xl font-medium block">Cuenta</span>
      <ul class="list-none p-0">
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Mi carrito</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Lista de Deseos</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
          >
            Política de Devolución y Cambio
          </a>
        </li>
      </ul>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-2 mt-4 flex flex-column">
      <span class="text-900 text-xl font-medium block">Métodos de pago</span>
      <ul class="list-none p-0">
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Mercado Pago</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
          >
            Debito y Credito</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
          >
            Uala</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
          >
            Efectivo</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
